PORT=8080

#DB_SOCKET="path/to/mysql.sock"
DB_HOST="ip"
DB_PORT="3306"
DB_NAME="db"

DB_PROCEDURE_USER="user"
DB_PROCEDURE_PASSWORD="password"

DB_SELECT_USER="user"
DB_SELECT_PASSWORD="password"

MQTT_HOST="ip"
